Subject: [[% subject_prefix %]] Erreur de couleur

[% INCLUDE header.tt %]

La commande "[% colour %]" que vous avez indiquée n'est pas
légale. Merci d'essayer à nouveau, en utilisant:

resultat blanc
resultat noir

