Subject:  [[% subject_prefix %]] Partie: [% location %], [% date %]

[% INCLUDE header.tt %]

N'oubliez pas de jouer votre partie:

Lieu: [% location %]
Date: [% date %]
Noir: [% black %]
Blanc: [% white %]
Handicap: [% handi %]

Après la partie, merci de publier le résultat en répondant à
ce mail en remplissant le sujet de votre réponse de la façon
suivante :

resultat <couleur gagnante>

Par exemple :

resultat blanc

Vous pouvez aussi simplement envoyer le SGF de la partie en
attachement.

