# The test suite uses this example configuration. Just copy
# it to goat.cfg and customise.

#### Paths
# Typical for a Unix system
#log_dir: /var/log/goat
#tmp_dir: /tmp
#sgf_dir: /var/www/goat/sgf
#template_dir: /usr/share/goat/fr     # Which e-mail templates to use

# for test suite
log_dir: ./log
tmp_dir: ./tmp
sgf_dir: ./sgf
template_dir: ../../fr

##### Tournament settings
# Which address receives for Goat?
goat_address: GO Assistant <goat@rutschle.net>

# What is the tournament admin address?
admin_address: Yves Rutschle <yves@rutschle.net>

# Tournament name and city
tournament_file: toperm
tournament_name: Tournoi pérmanent de Tøulouse
tournament_city: Toulouse

# License character codes allowed in this tournament
tournament_licenses: LC

# Criteria used for pairing. Corresponds to keys to
# %criteria in `pair`.
pairing_criteria: level_diff already_played same_club

##### Web settings
# SGF are always saved to local directory sgf_dir
# (use symbolic links to save the file where appropriate)
# This setting is used to point the CGI to the right URL.
sgf_url: /tournois/tls/sgf

# URL to tournament index (e.g. rule page)
index_url: /tournois/toperm_tls.html

locale: fr_FR
timezone: Europe/Paris

# do you want to forward all outgoing emails to admin adress  ?
# yes or no
admin_forward: no

# what prefix to prepend to mail subject (surround by [] )
subject_prefix: goat


##### E-mail Rx/Tx
# IMAP Settings, if using imap_frontend
imap_server: imap.gmail.com
# imaps is the default if no port is specified
imap_port: imaps
# Specifiy if you use own CA or self-signed certificate
#imap_root_ca: rutschle_ca.pem
imap_user: my_gmail_id
imap_passwd: v3ry$tr0ng

# SMTP setting: if not set, we'll try local sendmail
smtp_server: smtp.gmail.com
# submussion is the default if no port specified
smtp_port: submission
smtp_user: my_gmail_id
# May be the same as IMAP user/passwd depending on settings
smtp_passwd: v3ry$tr0ng


# There is more configuration in GoatConfig.pm, but it
# shouldn't really need to be touched.

