Subject: [[% subject_prefix %]] Erreur de date

[% INCLUDE header.tt %]

La date que vous avez spécifiée: "[% date_str %]", est déjà passée.
Merci d'essayer à nouveau, en suivant un des formats
suivants:

23/02/2018 16:08
23 février 2018 16:08
23 fev 2018 16:08

