Subject: [[% subject_prefix %]] Adresse inconnue


L'adresse que vous avez utilisée est inconnue. Vous devez
envoyer vos courriers à Goat en utilisant l'adresse avec
laquelle vous vous êtes enregistré.

