Subject: [[% subject_prefix %]] Vos parties de ronde [% old_round %]

[% INCLUDE header.tt %]
Vous n'avez pas encore joué vos parties de la ronde [% old_round %] du [% tournament_name %].

C'est maintenant le début de la ronde [% new_round %]. Vous
pouvez toujours jouer vos parties, mais il faudra m'envoyer
directemet les résultats.

Merci!
